In [14]:
import sys
import os
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from scripts import data_wrangling 

data_path = '~/Desktop/lab_work/orphan/isotope_ratio_mass_spec/data/shay-2022-12-02'
filename = 'EN_HBG_data_batch2.xlsx'
input_file_name = os.path.join(data_path, filename)
df = data_wrangling.load_data_frame_from_excel_file(input_file_name)
df

/Users/madisond/Desktop/lab_work/orphan/isotope_ratio_mass_spec/env/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Date,Time,Identifier 1,Rt,Area 2,Area 3,Ampl 2,Ampl 3,d 3H2/2H2,R 3H2/2H2,d 2H/1H,Analysis,compound,Rt.1
0,07/24/22,15:29:57,F8,655.2,59.646,0.019,3079,1035,-223.812,0.000242,-223.812,4165,H2,655.2
1,07/24/22,15:29:57,F8,704.7,59.966,0.019,3080,1035,-224.000,0.000242,-224.000,4165,H2,704.7
2,07/24/22,15:29:57,F8,866.5,13.502,0.004,3630,1193,-215.263,0.000244,-215.263,4165,C14ME,866.5
3,07/24/22,15:29:57,F8,922.3,14.862,0.005,3800,1224,-225.467,0.000241,-225.467,4165,C14EE,922.3
4,07/24/22,15:29:57,F8,1045.4,15.281,0.005,3585,1223,-163.122,0.000261,-163.122,4165,C16ME,1045.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2862,07/28/22,21:19:17,EN-HBG-34d,2845.7,3.059,0.001,583,173,-112.035,0.000277,-112.035,4264,NaN,2845.7
2863,07/28/22,21:19:17,EN-HBG-34d,2872.7,0.454,0.000,68,24,-291.393,0.000221,-291.393,4264,NaN,2872.7
2864,07/28/22,21:19:17,EN-HBG-34d,3281.9,0.388,0.000,75,25,-126.250,0.000272,-126.250,4264,NaN,3281.9
2865,07/28/22,21:19:17,EN-HBG-34d,3433.0,65.077,0.018,3437,1064,-223.541,0.000242,-223.541,4264,NaN,3433.0
2866,07/28/22,21:19:17,EN-HBG-34d,3532.1,66.514,0.019,3426,1059,-224.000,0.000242,-224.000,4264,NaN,3532.1